Primer_curso/Lenguajes de Marcas y Gestión de la Información/Actividad 2/Maria_Isabel/xsd_maria_isabel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="biblioteca">
        <complexType>
            <sequence>
                <element name="libros">
                    <complexType>
                        <sequence>
                            <element name="libro" maxOccurs="unbounded">
                                <complexType>
                                    <sequence>
                                        <element name="titulo" type="string"/>
                                        <element name="capitulos">
                                            <complexType>
                                                <sequence>
                                                    <element name="capitulo" minOccurs="1" maxOccurs="unbounded">
                                                        <complexType>
                                                            <sequence>
                                                                <element name="titulocapitulo" type="string"/>
                                                                <element name="contenido">
                                                                    <complexType>
                                                                    <attribute name="href" use="required"/>
                                                                    </complexType>
                                                                </element>
                                                            </sequence>
                                                            <attribute name="paginas" type="integer" use="required"/>
                                                        </complexType>
                                                    </element>    
                                                </sequence>
                                            </complexType>
            
                                        </element>
                                        <element name="indice" type="string"/>
                                        <element name="sinopsis" type="string"/>
                                    </sequence>
                                    <attribute name ="id" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <pattern value="[L]{1}[0-9]{4}"></pattern> 
                                            </restriction>
                                        </simpleType>
                                    </attribute> 
                                    <attribute name ="tipo_clase" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <enumeration value="novela"/>
                                                <enumeration value="infantil"/>
                                                <enumeration value="did치ctico"/>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name ="paginas" type="integer" use="required"/>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>

                <element name="revistas">
                    <complexType>
                        <sequence>
                            <element name="revista" minOccurs="1" maxOccurs="unbounded">
                                <complexType>
                                    <sequence>
                                        <element name="titulorevista" type="string"/>
                                        <element name="numero" type="integer"/>
                                        <element name="indicerevista" type="string"/>
                                        <element name="secciones">
                                            <complexType>
                                                <sequence>
                                                    <element name="seccion" minOccurs="1" maxOccurs="unbounded">
                                                        <complexType>
                                                            <sequence>
                                                                <element name="nombre" type="string"/>
                                                                <element name="contenidorevista">
                                                                    <complexType>
                                                                        <attribute name="href" use="required"/>
                                                                    </complexType> 
                                                                </element>
                                                            </sequence>
                                                            <attribute name="paginas" type="integer" use="required"/>
                                                        </complexType>
                                                    </element>    
                                                </sequence>
                                            </complexType> 
                                        </element>
                                    </sequence>
                                    <attribute name ="id" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <pattern value="[R]{1}[0-9]{4}"></pattern>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name ="tipo_clase" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <enumeration value="inform치tica"/>
                                                <enumeration value="coraz칩n"/>
                                                <enumeration value="coches"/>
                                                <enumeration value="investigaci칩n"/>
                                                <enumeration value="otras"/>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name ="paginas" type="integer" use="required"/>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>


                <element name="periodicos">
                    <complexType>
                        <sequence>
                            <element name="periodico" minOccurs="1" maxOccurs="unbounded"> 
                                <complexType>
                                    <sequence>
                                        <element name="tituloperiodico" type="string"/>
                                        <element name="indiceperiodico" type="string"/>
                                        <element name="seccionesperiodico">
                                            <complexType>
                                                <sequence> 
                                                    <element name="seccionperiodico" minOccurs="1" maxOccurs="unbounded">
                                                        <complexType>
                                                            <sequence>
                                                                <element name="articulo" maxOccurs="unbounded">
                                                                    <complexType mixed="true">
                                                                        <sequence>
                                                                            <element name ="contenidoperiodico">
                                                                                <complexType>   
                                                                                    <attribute name="href" use="required"/>
                                                                                </complexType>
                                                                            </element>
                                                                        </sequence>
                                                                        <attribute name="autor" type="string" use="required"/>
                                                                    </complexType>
                                                                </element>
                                                            </sequence>
                                                            <attribute name="tipo" type="string" use="required"/>
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                    <attribute name ="id" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <pattern value="[P]{1}[0-9]{4}"></pattern>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name ="tipo_clase" use="required">
                                        <simpleType>  
                                            <restriction base="string">
                                                <enumeration value="nacional"/>
                                                <enumeration value="internacional"/>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name ="publicacion" type="string" use="required"/>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>  
                </element>    
            </sequence>
        </complexType>
    </element>
</schema>
    